<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
							http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

    <servlet>
        <servlet-name>CurrenciesServlet</servlet-name>
        <servlet-class>com.github.mukhlisov.servlets.CurrenciesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CurrenciesServlet</servlet-name>
        <url-pattern>/currencies/*</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>com.github.mukhlisov.init.DataBaseInitializer</listener-class>
    </listener>
</web-app>
